Repository angeldeathz/nextjs-movies-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell "src/**/*.{ts,tsx,js,jsx,md}"

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md}": ["prettier --write"],
  "spell-check": "cspell \"src/**/*.{ts,tsx,js,jsx,md}\""
}

trying cspell
  app/series/page.tsx
Due: eslint --fix, prettier --write

trying cspell again
  .lintstagedrc
Due: none

trying cspell again
  app/series/page.tsx
  cspell.config.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

trying cspell again
  package.json
Due: prettier --write

fix lint errors
  app/layout.tsx
  components/MovieCard.tsx
  components/TvCard.tsx
  cspell.config.json
Due: eslint --fix, prettier --write

updated readme.md
  README.md
  cspell.config.json
Due: prettier --write

added better-npm-audit
  .husky/pre-push
  .nsurerc
  app/series/page.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

testing better-npm-audit
  .nsurerc
  package-lock.json
  package.json
Due: prettier --write

testing better-npm-audit
  .nsurerc
Due: none

testing better-npm-audit
  .better-npm-audit.json
Due: prettier --write

testing better-npm-audit
  .better-npm-audit.json
  .nsprc
Due: prettier --write

testing better-npm-audit
  .nsprc
  package.json
Due: prettier --write

testing better-npm-audit
  package-lock.json
  package.json
Due: prettier --write

[PEMS-12] feat: testing commit messages
  .husky/commit-msg
  commitlint.config.cjs
  package-lock.json
  package.json
Due: prettier --write

[JIRA-1] docs: updated readme.md
  .lintstagedrc
  README.md
Due: prettier --write

[JIRA-1] docs: updated readme.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

[JIRA-1] docs: added .versionrc file
  .versionrc
Due: none

[JIRA-1] docs: improved release script
  package.json
Due: prettier --write

chore(release): 0.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(PEMS-10): improved release script
  commitlint.config.cjs
Due: none

docs(PEMS-10): added changelog.md to cspell ignore paths
  CHANGELOG.md
  cspell.config.json
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs(PEMS-10): updated readme.md
  README.md
Due: prettier --write

chore(release): 0.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs(PEMS-10): updated package.json
  package.json
Due: prettier --write

chore(release): 0.1.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(JIRA-12): fix lint
  app/page.tsx
  app/series/page.tsx
  components/Header.tsx
  components/Sidebar.tsx
  components/cards/MovieCard.tsx
  components/cards/TvCard.tsx
  cspell.config.json
  interfaces/movie.ts
  interfaces/tv.ts
  services/tvService.ts
Due: eslint --fix, prettier --write

fix(JIRA-12): fixed series page with correct pagination
  app/page.tsx
  app/series/page.tsx
  interfaces/searchProps.ts
  services/tvService.ts
Due: eslint --fix, prettier --write

feat(JIRA-12): added tests
  .husky/pre-commit
  .lintstagedrc
  app/page.tsx
  app/series/page.tsx
  components/header/Header.test.tsx
  components/header/Header.tsx
  components/paginator/Paginator.tsx
  components/sidebar/Sidebar.tsx
  cspell.config.json
  jest.config.mjs
  jest.setup.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat(JIRA22): added order by functionality
  .prettierrc
  app/page.tsx
  app/series/page.tsx
  components/header/Header.test.tsx
  components/sidebar/Sidebar.tsx
  enums/tmdbSortOption.ts
  interfaces/searchProps.ts
  services/moviesService.ts
  services/tvService.ts
Due: eslint --fix, prettier --write

chore(release): 0.1.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(jira-123): improving paginator and api calls
  app/page.tsx
  app/series/page.tsx
  components/paginator/Paginator.tsx
  interfaces/paginatorProps.ts
  services/moviesService.ts
  services/tvService.ts
Due: eslint --fix, prettier --write

feat(jira-12): display information of a single movie/tv
  .vscode/settings.json
  app/movie/[id]/page.tsx
  app/series/[id]/page.tsx
  components/cards/MovieCard.tsx
  components/cards/TvCard.tsx
  components/rating-circle/RatingCircle.tsx
  interfaces/movieDetail.ts
  interfaces/tvDetail.ts
  services/moviesService.ts
  services/tvService.ts
Due: eslint --fix, prettier --write

chore(eslint): standardize quotes and clean up ESLint configuration
  eslint.config.mjs
Due: none

chore(release): 0.1.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
